# /etc/systemd/system/gamepad.service
[Unit]
Description=Gamepad Service
After=bluetooth.target

[Service]
ExecStart=/usr/bin/python3 -u $appdir/main.py
WorkingDirectory=$appdir
StandardOutput=inherit
StandardError=inherit
Restart=always
User=$user

[Install]
WantedBy=multi-user.target
