# /etc/systemd/system/keyboard-device.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=$appdir/create-keyboard.sh

[Install]
WantedBy=multi-user.target
